* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}
nav{
    height: 50px;
    width: 100%;
    padding-top: 5px;
    order: 2;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    z-index: 1000;
    height: 40px;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #222;
    padding-top: 0;
    padding-bottom: 50px;

}

.intro {
    text-align: left;
    order: 1;
    padding-top: 130px;
}

.intro h1 {
    font-size: 1.8rem;
    color: white;
    margin-left: 10px;
}

.intro h1 span {
    color: #ccff00;
}

.intro p {
    margin: 20px 0;
    margin-bottom: 25px;
    margin-left: 10px;
}

.buttons {
    margin: 20px 0;
}

.buttons .btn {
    background-color: #ccff00;
    color: #000;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}

.stats-card {
    background-color: #000; 
    padding: 10px; 
    border-radius: 10px; 
    width: 200px; 
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statcont{
    padding-top: 130px;
    order: 3;

}

.stat {
    text-align: center; 
    padding: 10px;
    color: #ccff00; 
    border-bottom: 0.3px dashed white;

}

.stat h3 {
    font-size: 1.5em; 
    margin: 0; 
}

.stat p {
    font-size: 0.9em; 
    color: #ccc; 
    margin: 5px 0 0; 
}

.stat:last-child {
    margin-bottom: 0; 
}


.about {
    background-color: #000;
    padding: 50px 10px;
    height: 450px;
    width: 90%;
}

.about h2 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 20px;
    width: fit-content;
}

.about h2 span {
    color: #ccff00;
}

.green-check{
    margin-right: 10px;
    color: #ccff00;
}

.about p {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: fit-content;
}

.about ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
    width: fit-content;
}

main{
    display: flex;
    justify-content: center;
}

.about ul li {
    margin: 0 20px;
    color: white;
}

.img-abt{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    order: 2;
    margin-right: 100px;
}

.contact-info {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    background-color: #222;
    width: fit-content;
    object-fit: fill;
    margin-top: 15px;
    
}

.contact-info div {
    margin: 5px 15px 5px 15px;
}

.contact-info div a{
    text-decoration: none;
    color: white;
}

.container-abt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    order: 1;
}

.left{
    width: 5%;
    height: 1000px;
    float: left;
    background-color: #1d1a1a;
}

.right{
    width: 5%;
    height: 1000px;
    float: right;
    background-color:#1d1a1a;
}

.profile-pic {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    border: 5px solid #ceff0b;
    object-fit: cover;
}

.headpic{
    width: 36px;
    height: 36px;
    border: 2px solid #ffffff;
    object-fit: cover;
    border-radius: 50%;

}
.img-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    order: 1;
}

.nav-cont span{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 5px;
    font-size: 20px;

}

.nav-cont{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: #000;
    position: fixed;
    width: 100%;
    margin-top: 0;
    padding: 0 20px 0 20px;
    height: 50px;
}

.fa-instagram{
    color: #ccc;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;

}
.fa-youtube{
    color: #ccc;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 26.5px;
}
.fa-linkedin{
    color: #ccc;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.fa-facebook{
    color: #ccc;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.icons{
    order: 3;
    display: flex;
    flex-direction:  row-reverse;
    margin-right: 10px;
    align-items: center;
}

.profile-pic-container{
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-right: 65px;
    order: 2;
}

.pic-abt{
    width: 300px; 
    height: 300px; 
    border: 2px solid white;
    object-fit: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 50px;
}
